.adevnture-icon_wrapper {
  max-width: 1400px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .adevnture-icon_wrapper {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

.adventure-icon_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  align-items: center;
  max-width: 140px;
  overflow-wrap: break-word;
}

.adventure-icon_paragraph {
  margin: 5px;
}
.li svg {
  width: 40px;
}
